<%- include('../includes/header.ejs') %>
    <title>Uttpic Ratings</title>
<link rel="stylesheet" type="text/css" href="css/join.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <form action = "/build-rating" method="get" id="table">
            <div class= "row">
                <strong><p>Creations</p></strong>
                <p></p>
                <strong><p>Users</p></strong>
                <p></p>
            </div>

            <div class = "row">
                <p>Country:</p>
                <p>
                    <select name = "creationCountry">
                        <option value = "All" selected = "selected">All</option>
                        <% creationCountries.forEach(country => { %>
                            <option value="<%= country %>"><%= country %></option>
                        <% }) %>
                    </select>
                </p>
                <p>Country:</p>
                <p>
                    <select name = "userCountry">
                        <option value = "All" selected = "selected">All</option>
                        <% userCountries.forEach(country => { %>
                            <option value="<%= country %>"><%= country %></option>
                        <% }) %>
                    </select>
                </p>
            </div>

            <div class = "row">
                <p>Genre:</p>
                <p>
                    <select name="creationGenre">
                        <option value = "All" selected = "selected">All</option>
                        <% creationGenres.forEach(genre => { %>
                            <option value="<%= genre %>"><%= genre %></option>
                        <% }) %>
                    </select>
                </p>
                <p>Sex:</p>
                <p>
                    <select name="userSex">
                        <option value = "All" selected = "selected">All</option>
                        <% userSexs.forEach(sex => { %>
                            <option value="<%= sex %>"><%= sex %></option>
                        <% }) %>
                    </select>
                </p>
            </div>

            <div class = "row">
                <p>Year >=:</p>
                <p>
                    <select name = "creationYearGte">
                        <option value = "All" selected="selected">All</option>
                        <% creationYears.forEach(year => { %>
                            <option value="<%= year %>"><%= year %></option>
                        <% }) %>
                    </select>
                </p>
                <p>Born after:</p>
                <p>
                    <select name = "userYearGte">
                        <option value = "All" selected="selected">All</option>
                        <% userYears.forEach(year => { %>
                            <option value="<%= year %>"><%= year %></option>
                        <% }) %>
                    </select>
                </p>
            </div>

            <div class = "row">
                <p>Year <=:</p>
                <p>
                    <select name = "creationYearLte">
                        <option value = "All" selected="selected">All</option>
                        <% creationYears.forEach(year => { %>
                            <option value="<%= year %>"><%= year %></option>
                        <% }) %>
                    </select>
                </p>
                <p>Born before:</p>
                <select name = "userYearLte">
                    <option value = "All" selected="selected">All</option>
                    <% userYears.forEach(year => { %>
                        <option value="<%= year %>"><%= year %></option>
                    <% }) %>
                </select>
            </div>


            <div class = "row">
                <p>
                    <input type="submit" value = "Show">
                </p>
            </div>

        </form>
    </body>
</html>