<%- include('../includes/header.ejs') %>
    <title>Uttpic Ratings</title>
    </head>

    <body>
            <%- include('../includes/navigation.ejs') %>
                <% if (rating.length > 0) {%>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Year</th>
                            <th>Genre</th>
                        </tr>
                        <% let i = 1; let prevRating = rating[0].rating; rating.forEach((track) => { let rating = track.rating; %>
                            <tr>
                                <td><%= rating > prevRating ? ++i : i %></td>
                                <td><a href="/creation?songID=<%= track.songID %>"><%= track.name %></a></td>
                                <td><%= track.artist %></td>
                                <td><%= track.album %></td>
                                <td><%= track.year %></td>
                                <td><%= track.genres %></td>

                                <% if (track.isInBlanket) { %>

                                    <% if (!track.isInILove) { %>
                                        <td>
                                            <form action="/add-to-i-love" method="post">
                                                <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                                <button type="submit">to ILove</button>
                                            </form>
                                        </td>
                                    <% } %>

                                <% } else { %>

                                    <td>
                                        <form action="/give-stars" method="post">
                                            <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                            <!--                                    TODO redirected from url-->
                                            <button type="submit">to Blanket</button>
                                        </form>
                                    </td>
                                    <% if (!track.isInWishList) { %>
                                        <td>
                                            <form action="/add-to-my-wish-list" method="post">
            <!--                                    TODO redirected from url-->
                                                <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                                <button type="submit">to Wish List</button>
                                            </form>
                                        </td>
                                    <% } %>
                                <% } %>
                            </tr>
                        <% prevRating = rating}) %>
                    </table>
                <% } else {%>
                    <h2>There are no results to be shown for the parameters that you have chosen. Please <a href="/ratings">try again</a></h2>
                <% }%>
            </div>
        </div>
    </body>
</html>