<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="css/main.css">
    <title><%- user.firstName %>'s Blanket</title>
    </head>

    <body>
    <%- include('../includes/navigation.ejs') %>

        <h1><%- user.firstName %>'s Blanket</h1>

        <% if (blanket.length > 0) { %>
            <div class="testimonial-group">
                <div class="row flex-row flex-nowrap ">
                    <% blanket.forEach((track) => { %>
                        <div class="card h-50 m-4 col-xs-4 col-12 text-center" style="max-width: 18rem;">
                            <img src="<%= track.coverUri %>" class="card-img-top" alt="Album cover">
                            <div class="card-body">
                                <h5 class="card-title"><td><a href="/creation?songID=<%= track.songID %>"><%= track.name %></a></td></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">by <%= track.artist %></li>
                                <li class="list-group-item"><%= track.album %></li>
                                <li class="list-group-item"><%= track.genres %></li>
                                <li class="list-group-item"><%= track.year %></li>
                                <li class="list-group-item"><%= track.stars %></li>
                            </ul>

                            <% if (!track.isInILove) { %>
                                <div clas="card-body">
                                    <form action="/add-to-i-love" class="card-link" method="post">
                                        <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                        <button type="submit">to ILove</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } else {%>
            <h2>Nothing here for now! Go on to search and explore something or add something that you wanted to listen to a long time ago from your <a href="/wish-list">wish list!</a></h2>
        <% }%>
        </body>
    </html>




