<%- include('../includes/header.ejs') %>
    <title><%- user.firstName %>'s Blanke</title>

    <script>
        function changeStars() {
            var slider = document.getElementById("starsSlider");
            document.getElementById("stars").value = slider.value;
        }
    </script>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <h1>Select stars for "<%= track.name %>" by <%= track.artist %>:</h1>

        <form action="/add-to-blanket" method="post">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="range" min="1" max="10" id="starsSlider" oninput="stars.value=starsSlider.value" value="5" step = "0.01" style="width: 400px">
            <br><p>You selected: </p><br>
            <input type="text" id="stars" value = "5"  min="1" max="10" required name="stars" oninput="starsSlider.value=stars.value">
            <input type="hidden" name="songID" value="<%= track.songID %>">
            <button type="submit">Add to Blanket</button>
        </form>
    </body>
</html>



