                <% if (user) { %>
                    <div class="navbar fixed-top flex-md-nowrap p-0" id="topNavBar">
                        <a class="navbar-brand">
                            <img width="30" height="30" src="/images/logo/apple-icon.png" class="d-inline-block align-top" alt="Uttpic Logo">Uttpic
                        </a>

                        <form class="form-inline" action="/search"  method="get">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" required name="q" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>

                        <form class="form-inline" action="/logout" method="post">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                        </form>
                    </div>
                <% }%>

                <div class="container-fluid h-100">
                        <div class="row">
                            <nav class="col-md-2 d-none d-md-block sidebar" id="sidebar-sticky">
                                <div class="sidebar-sticky">
                                    <nav class="nav flex-column" id="sideBarItems">
                                        <% if (!user) { %>
                                            <a class="nav-link <%= path === '/index' ? 'active' : '' %>" href="/index">Home</a>
                                            <a class="nav-link <%= path === '/join' ? 'active' : '' %>" href="/join">Join</a>
                                            <a class="nav-link <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                                        <% } else { %>
                                            <a class="nav-link <%= path === '/news' ? 'active' : '' %>" href="/news">Activity</a>
                                            <a class="nav-link <%= path === '/wish-list' ? 'active' : '' %>" href="/wish-list">Wish List</a>
                                            <a class="nav-link <%= path === '/i-love' ? 'active' : '' %>" href="/i-love">ILove</a>
                                            <a class="nav-link <%= path == '/blanket' ? 'active' : '' %>" href="/blanket">Blanket</a>
                                            <a class="nav-link <%= path === '/ratings' ? 'active' : '' %>" href="/ratings">Explore</a>
                                            <a class="nav-link <%= path === '/kindred-spirits' ? 'active' : '' %>" href="/kindred-spirits">Kindred Spirits</a>
                                            <a class="nav-link <%= path === '/profile' ? 'active' : '' %>" href="/profile/<%= user.username %>">My profile</a>
                                        <% } %>
                                    </nav>
                                </div>
                            </nav>


                             <div class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">









