<!--<header class="main-header">-->
<!--    <button id="side-menu-toggle">Menu</button>-->
<!--    <nav class="main-header__nav">-->
<!--        <ul class="main-header__item-list">-->
<!-- -->
<!--&lt;!&ndash;                    &ndash;&gt;-->
<!--                    <li class="main-header__item">-->
<!--                        <form action="/search"  method="get">-->
<!--                            <input type="text" value="" required name="q">-->
<!--                            <button type="submit">Search</button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                    <li class="main-header__item">-->
<!--                        <form action="/logout" method="post">-->
<!--                            <button type="submit">Logout</button>-->
<!--                        </form>-->
<!--                    </li>-->

<!--                    <li class="main-header__item">-->
<!--                        <a class="<%= path === '/recommendations' ? 'active' : '' %>" href="/recommendations">Recommendations</a>-->
<!--                    </li>-->