<header data-v-f6035ef4="" class="header sticky-top">
    <div data-v-fa101a9c="" data-v-f6035ef4="" class="header">
        <div data-v-d5944570="" data-v-fa101a9c="" class="playback-controls playback-controls">
            <div data-v-d5944570="" role="group" class="btn-group">
                <button data-v-d5944570="" type="button" class="btn btn-link"><i data-v-d5944570="" class="fa fa-backward"><span data-v-d5944570="" class="sr-only">Previous song</span></i></button>
                <button data-v-d5944570="" type="button" class="btn main btn-link"><i data-v-d5944570="" class="fa fa-play"><span data-v-d5944570="" class="sr-only">Play</span></i></button>
                <button data-v-d5944570="" type="button" class="btn btn-link"><i data-v-d5944570="" class="fa fa-forward"><span data-v-d5944570="" class="sr-only">Next song</span></i></button>
            </div>
        </div>
        <div data-v-4f65593a="" data-v-fa101a9c="" class="volume-control volume-control">
            <label data-v-4f65593a="" for="vol" class="sr-only"><i data-v-4f65593a="" class="fa fa-volume-up"></i><span data-v-4f65593a="" class="sr-only">Volume</span></label>
            <input data-v-4f65593a="" id="vol" type="range" min="0" max="1" step="0.05" class="custom-range">
        </div>
        <div data-v-63690b9b="" data-v-fa101a9c="" class="behaviour-controls behaviour-controls">
            <div data-v-63690b9b="" role="group" class="btn-group">
                <button data-v-63690b9b="" type="button" class="btn btn-link"><i data-v-63690b9b="" class="fa fa-random"></i> <span data-v-63690b9b="" class="sr-only">Shuffle</span></button>
                <button data-v-63690b9b="" type="button" class="btn btn-link"><i data-v-63690b9b="" class="fa fa-retweet"></i> <span data-v-63690b9b="" class="badge hide badge-secondary">1</span> <span data-v-63690b9b="" class="sr-only">Repeat</span></button>
            </div>
        </div>
        <div data-v-43ee5d37="" data-v-fa101a9c="" class="now-playing now-playing">
            <div data-v-43ee5d37="" class="info"><img data-v-43ee5d37="" src="https://is5-ssl.mzstatic.com/image/thumb/Music123/v4/68/d0/a8/68d0a897-fda0-2963-320c-3eff4fa7bec9/20UMGIM09591.rgb.jpg/2000x2000bb.jpg" class="artwork">
                <div data-v-43ee5d37="" class="track-info">
                    <div data-v-43ee5d37="" class="columns">
                        <p data-v-43ee5d37="" class="column name h5 mb-1">Yikes</p>
                        <p data-v-a581a088="" data-v-43ee5d37="" class="content-rating content-rating"><span data-v-a581a088="">E<span data-v-a581a088="" class="sr-only">xplicit</span></span>
                        </p>
                        <div data-v-43ee5d37="" class="column">
                            <div class="dropdown b-dropdown btn-group position-static" id="__BVID__1304">
                                <!---->
                                <button aria-haspopup="true" aria-expanded="false" type="button" class="btn dropdown-toggle btn-link btn-sm dropdown-toggle-no-caret" id="__BVID__1304__BV_toggle_"><i class="fa fa-ellipsis-h"></i><span class="sr-only">Song actions</span></button>
                                <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-right" aria-labelledby="__BVID__1304__BV_toggle_">
                                    <li role="presentation">
                                        <button role="menuitem" type="button" class="dropdown-item">Add to library</button>
                                    </li>
                                    <li role="presentation">
                                        <button role="menuitem" type="button" class="dropdown-item">Add to playlist</button>
                                    </li>
                                    <li role="presentation">
                                        <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                    </li>
                                    <li role="presentation">
                                        <button role="menuitem" type="button" class="dropdown-item">Go to album</button>
                                    </li>
                                    <li role="presentation">
                                        <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                    </li>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <li role="presentation">
                                        <button role="menuitem" type="button" class="dropdown-item">Love</button>
                                    </li>
                                    <li role="presentation">
                                        <button role="menuitem" type="button" class="dropdown-item">Dislike</button>
                                    </li>
                                    <li role="presentation">
                                        <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                    </li>
                                    <li role="presentation">
                                        <button role="menuitem" type="button" class="dropdown-item">Copy link</button>
                                    </li>
                                    <!---->
                                </ul>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <p data-v-43ee5d37="" class="artist text-muted">Nicki Minaj — Yikes - Single</p>
                </div>
                <div data-v-43ee5d37="" class="time">
                    <p data-v-43ee5d37="" class="text-muted">0:39 / 2:37</p>
                </div>
                <div data-v-43ee5d37="" class="queue">
                    <button data-v-43ee5d37="" type="button" class="btn btn-link"><i data-v-43ee5d37="" class="fa fa-list-ul"><span data-v-43ee5d37="" class="sr-only">Show queue</span></i></button>
                    <!---->
                </div>
                <div data-v-43ee5d37="" class="full-screen">
                    <button data-v-43ee5d37="" type="button" class="btn btn-link"><i data-v-43ee5d37="" class="fa fa-television"><span data-v-43ee5d37="" class="sr-only">Show full screen player</span></i></button>
                </div>
            </div>
            <div data-v-235be140="" data-v-43ee5d37="">
                <div data-v-235be140="" class="progressTooltip" style="opacity: 0; left: 2px; right: auto;">0:28</div>
                <div data-v-235be140="" class="songProgress br-0 progress" style="height: 6px;">
                    <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" class="progress-bar bg-danger" style="width: 24.8408%;">
                        <!---->
                    </div>
                    <div data-v-235be140="" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75" class="progress-bar bg-dark" style="width: 75.1592%;">
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <nav data-v-fa101a9c="" class="nav">
            <ul data-v-fa101a9c="" class="nav">
                <li data-v-fa101a9c="" class="nav-item"><a data-v-fa101a9c="" href="/ru/top-charts" class="nav-link router-link-exact-active active" target="_self">Top charts</a></li>
                <li data-v-fa101a9c="" class="nav-item"><a data-v-fa101a9c="" href="/for-you" class="nav-link" target="_self">For you</a></li>
                <li data-v-fa101a9c="" class="nav-item"><a data-v-fa101a9c="" href="/recent" class="nav-link" target="_self">Recent</a></li>
                <li data-v-fa101a9c="" class="nav-item"><a data-v-fa101a9c="" href="/ru/search" class="nav-link" target="_self">Search</a></li>
                <li data-v-fa101a9c="" class="nav-item b-nav-dropdown dropdown" id="__BVID__960"><a aria-haspopup="true" aria-expanded="false" target="_self" href="#" class="nav-link dropdown-toggle" id="__BVID__960__BV_button_"><span>Library</span></a>
                    <ul tabindex="-1" class="dropdown-menu dropdown-menu-right" aria-labelledby="__BVID__960__BV_button_">
                        <li data-v-fa101a9c="" role="presentation"><a href="/library/search" class="dropdown-item" role="menuitem" target="_self">Search</a></li>
                        <li data-v-fa101a9c="" role="presentation">
                            <hr data-v-fa101a9c="" role="separator" aria-orientation="horizontal" class="dropdown-divider">
                        </li>
                        <li data-v-fa101a9c="" role="presentation"><a href="/library/songs" class="dropdown-item" role="menuitem" target="_self">Songs</a></li>
                        <li data-v-fa101a9c="" role="presentation"><a href="/library/albums" class="dropdown-item" role="menuitem" target="_self">Albums</a></li>
                        <li data-v-fa101a9c="" role="presentation"><a href="/library/artists" class="dropdown-item" role="menuitem" target="_self">Artists</a></li>
                        <li data-v-fa101a9c="" role="presentation"><a href="/library/playlists" class="dropdown-item" role="menuitem" target="_self">Playlists</a></li>
                    </ul>
                </li>
                <!---->
                <li data-v-fa101a9c="" class="nav-item b-nav-dropdown dropdown" id="__BVID__22"><a aria-haspopup="true" aria-expanded="false" target="_self" href="#" class="nav-link dropdown-toggle menu-toggle dropdown-toggle-no-caret" id="__BVID__22__BV_button_"><i data-v-fa101a9c="" class="fa fa-ellipsis-h"></i><span data-v-fa101a9c="" class="sr-only">Other</span></a>
                    <ul tabindex="-1" class="dropdown-menu dropdown-menu-right" aria-labelledby="__BVID__22__BV_button_">
                        <li data-v-fa101a9c="" role="presentation"><a href="/settings" class="dropdown-item" role="menuitem" target="_self">Settings</a></li>
                        <li data-v-fa101a9c="" role="presentation">
                            <hr data-v-fa101a9c="" role="separator" aria-orientation="horizontal" class="dropdown-divider">
                        </li>
                        <li data-v-fa101a9c="" role="presentation"><a role="menuitem" target="_self" href="#" class="dropdown-item">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!---->
</header>