<%- include('../includes/header.ejs') %>

    <title>"<%= track.name %>" by <%= track.artist %> on Uttpic</title>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <img src="<%= track.coverUri %>"> <!-- Album Cover -->

        <h1>"<%= track.name %>" by <%= track.artist %></h1>
        <h2><%= track.album %>, <%= track.year %></h2>
        <h2><%= track.genres %></h2>

        <p><a onclick="window.open('<%= track.url %>', '<%= track.name %>','width=600,height=800')"><span style="text-decoration-line: underline">Listen on Apple Music</span></a></p>
        <% if (track.isInBlanket) { %>
            <label>Is in your blanket</label>
            <br>
            <label>Stars: <%= track.stars %></label>

            <% if (track.isInILove) { %>
                <br><label>Is in your ratings. <%= track.place + 1 %> place in the "<%= track.genres %>" rating</label>
            <% } else { %>
                <td>
                    <form action="/add-to-i-love" method="post">
                        <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                        <button type="submit">to ILove</button>
                    </form>
                </td>
            <% } %>

        <% } else { %>
            <% if (track.isInWishList) { %>
                <label>Is in your wish list</label>
            <% } else { %>
                <form action="/add-to-my-wish-list" method="post">
                    <input type="hidden" name="fromSearch" value="false">
                    <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                    <button type="submit">to Wish List</button>
                </form>
            <% } %>
                <form action="/give-stars" method="post">                           <!-- TODO what if song is non in the db?? -->
                    <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                    <button type="submit">to Blanket</button>
                </form>
        <% } %>
    </body>
</html>