body {
	background: #181C27
}
#table {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	margin-top: 160px;
	border: solid black;
	background: #FE1F34
}

table.row {
	display: table-row;
}

table.row p {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
	padding-bottom: 15px;
}

#submit {
	text-align: left;
}