.form-1 {
  width: 300px;
  margin: 50px auto 50px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(#eeefef, #ffffff 10%);

  box-shadow:
  0 0 1px rgba(0, 0, 0, 0.3),
  0 3px 7px rgba(0, 0, 0, 0.3),
  inset 0 1px rgba(255,255,255,1),
  inset 0 -3px 2px rgba(0,0,0,0.25);
}

.field-1, .field-2 {
  font-family: "Lato", Calibri, Arial;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(225, 225, 225, 0.8);

  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  border: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #f9f9f9;
  color: #777;
}

.field-1{
  margin-bottom: 10px;
}

.submit{
  box-sizing: border-box;
  margin: 0;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 17px;
  right: -25px;
  padding: 9px 10px 10px;
  z-index: 2;

  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1),
  0 3px 2px rgba(0,0,0,0.1),
  inset 0 -3px 2px rgba(0,0,0,0.2);
}

.button-sub{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
  0 1px 2px rgba(0,0,0,0.35),
  inset 0 3px 2px rgba(255,255,255,0.2),
  inset 0 -3px 2px rgba(0,0,0,0.1);

  color: white;
  background: linear-gradient(#52cfeb, #42A2BC);
  outline: none;
  cursor: pointer;
}

.button-sub:hover{
  background: #52cfeb;
}
