#topNavBar {
    background-color: #1F222B;
    color: white;
    /*width: 100%;*/
    height: 54px;
}

#main > {
    padding: 0px;
}

#topNavBar a {
    color: white;
}


.navbar-brand {
    color: white;
}

.testimonial-group > .row {
    overflow-x: auto;
    padding: 0px;
}
.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

.noPadding {
    padding: 0px;
}

div.card-body {
    padding: 0px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*z-index: 100; !* Behind the navbar *!*/
    padding: 48px 0 0; /* Height of navbar */
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
    background-color: #1F222B;
}

.sidebar-sticky {
    width: 10%;
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    /*padding-top: .5rem;*/
    overflow-x: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#rose {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#sideBarItems a {
    color: white;
}

#sideBarItems a:hover {
    background-color: #F0154D;
    color: white;
}

#sideBarItems > .active {
    color: #F0154D;
}

[role="main"]  {
    padding-top: 52px;
}

.btn,  .btn-outline-success {
    color:  black;
}

.btn:hover,  .btn-primary:hover {
    background-color: #F0154D;
    color: white;
    border: none;
}