<%- include('../includes/header.ejs') %>

    <title>"<%= pUser.username %>"'s followees</title>

    </head>

    <body>
    <%- include('../includes/navigation.ejs') %>

    <h1><%- pUser.firstName %>'s followees</h1>
    <% if (followees.length > 0) {%>
        <div class="row">
            <% followees.forEach((followee) => { %>
                <div class="card mb-3 h-50 m-4 col-xs-4 col-12 text-center" style="max-width: 18rem;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="<%= followee.profilePictureURL %>" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="/profile/<%= followee.username %>"><%= followee.username %></a>
                                <%= `${followee.firstName} ${followee.lastName}` %>
                                <% if (!followee.me) { %>
                                    <p class="card-text"><small class="text-muted"> <%= parseFloat(followee.value).toFixed(3) %> %</small></p>
                                    <% if (!followee.iFollow) { %>
                                        <form class="btn btn-primary" action="/follow/<%= followee.username %>?redirectUrl=/followees?username=<%= pUser.username %>" method="post">
                                            <input type="hidden" name="userID" value="<%= followee.username %>">     <!-- TODO Do not rely on hidden inputs-->
                                            <button type="submit">Follow</button>
                                        </form>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else {%>
        <h2>No followees</h2>
    <% }%>
    </body>
</html>