<%- include('../includes/header.ejs') %>

    <title>"<%= pUser.username %>"'s followers</title>

    </head>

    <body>
    <%- include('../includes/navigation.ejs') %>

    <h1><%- pUser.firstName %>'s followers</h1>
    <% if (followers.length > 0) { %>
        <div class="row">
            <% followers.forEach((follower) => { %>
                <div class="card mb-3 h-50 m-4 col-xs-4 col-12 text-center" style="max-width: 18rem;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="<%= follower.profilePictureURL %>" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= `${follower.firstName} ${follower.lastName}` %></h5>
                                <p class="card-text"><a href="/profile/<%= follower.username %>"><%= follower.username %></a>

                                <% if (!follower.me) { %>
                                    <p class="card-text"><small class="text-muted"><%= parseFloat(follower.value).toFixed(3) %> %</small></p>
                                    <% if (!follower.iFollow) { %>
                                        <form action="/follow/<%= follower.username %>?redirectUrl=/followers?username=<%= user.username %>" method="post">
                                            <input type="hidden" name="userID" value="<%= follower.username %>">     <!-- TODO Do not rely on hidden inputs-->
                                            <button type="submit">Follow</button>
                                        </form>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else {%>
        <h2>No followers</h2>
    <% }%>
    </body>
</html>