<%- include('../includes/header.ejs') %>
        <title><%= pUser.firstName %>'s Profile</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/userProfile.css">
        <link rel="stylesheet" type="text/css" href="../css/nav.css">
        <link rel="stylesheet" type="text/css" href="../css/ratingTable.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

                <div class="row container-fluid">
                    <div class="col-4">
                        <% if (pUser.profilePictureURL) { %>
                            <img src="<%= pUser.profilePictureURL %>" height="300" width="300">
                        <% } %>

                            <% if (Object.keys(iLove).length > 0 ) { %>
                                <canvas id="rose"></canvas>
                            <% } %>

                        <% if (!anotherUser) { %> <!-- my profile -->
                        <form action="/profilePictureUpload?username=<%= pUser.username %>" method="post" enctype="multipart/form-data">
                            <input type="file" required name="profilePicture"><br>
                            <input type="submit" value="<%= pUser.profilePictureURL ? "Update" : "Upload" %> profile picture">
                        </form>
                        <% } %>
                        <h1> <%= pUser.firstName %> <%= pUser.lastName %> </h1>
                        <h2>@<%= pUser.username %> </h2>
                        <h3><%= pUser.dob %></h3>
                        <h3><%= pUser.country %>, <%= pUser.city %></h3>

                        <a href="/followers?username=<%= pUser.username %>"><button type="submit">Followers <%= numFollowers %></button></a>

                        <a href="/followees?username=<%= pUser.username %>"><button type="submit">Followees <%= numFollowees %></button></a>

                        <% if (anotherUser) { %>
                            <h3>Percentage of match: <%= percentage %>%</h3>

                            <% if (!iFollow) { %>
                                <form action="/follow/<%= pUser.username %>" method="post">
                                    <input type="hidden" name="fromProfile" value="true">
                                    <button type="submit">Follow</button>
                                </form>
                            <% } else { %>
                                <h3>You already follow @<%= pUser.username %></h3>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="col">
                        <% if (Object.keys(iLove).length > 0 ) { %>

                            <h1><%= anotherUser ? `${pUser.firstName}'s` : "Your" %> ratings</h1>

                            <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
                            <div class="tab">
                                <% var i = 0; Object.keys(iLove).forEach((genre) => { %>
                                    <button onclick="openGenre(event, '<%= genre %>')" class="tablinks" id="<%= (i == 0 ? "defaultOpen" : "") %>"><%= genre %></button>
                                <% }) %>
                            </div>

                            <% Object.keys(iLove).forEach(genre => { %>
                                <div id="<%= genre %>" class="tabcontent table-fixed">
                                    <ol>
                                        <% iLove[genre].forEach(track => { %>
                                            <li>
                                                <div class="list-group-item ">
                                                    <table aria-hidden="true">
                                                        <tr>
                                                            <td><a class="songIDs" href="/creation?songID=<%= track.songID %>"><%= track.name %></a></td>
                                                            <td><%= track.artist %></td>
                                                            <td><%= track.album %></td>
                                                            <td><%= track.year %></td>
                                                            <td><%= track.genres %></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </li>
                                        <% }) %>
                                    </ol>
                                </div>
                            <% }) %>

                            <script>
                                function openGenre(evt, genreName) {
                                    var i, tabcontent, tablinks;
                                    tabcontent = document.getElementsByClassName("tabcontent");
                                    for (i = 0; i < tabcontent.length; i++) {
                                        tabcontent[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tablinks");
                                    for (i = 0; i < tablinks.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                                    }
                                    console.log(document.getElementById("Pop"));
                                    document.getElementById(genreName).style.display = "block";
                                    evt.currentTarget.className += " active";
                                }
                                document.getElementById("defaultOpen").click();
                            </script>
                        <% } %>
                    </div>
                </div>

                <a href="/spotifyLogin"><button>Link Spotify</button></a>

                <div class="row">
                    <% if (blanket.length > 0) {%>
                        <div class="col testimonial-group">
                            <div class="row flex-row flex-nowrap">
                                <% blanket.forEach((track) => { %>
                                    <div class="m-1 col-xs-4 col-12 text-center" style="max-width: 18rem;">
                                        <img src="<%= track.coverUri %>" class="card-img-top" alt="Album cover">
                                        <div class="card-body">
                                            <h5 class="card-title noPadding "><td><a href="/creation?songID=<%= track.songID %>"><%= track.name %></a></td></h5>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item noPadding ">by <%= track.artist %></li>
                                            <li class="list-group-item noPadding "><%= track.album %></li>
                                            <li class="list-group-item noPadding "><%= track.genres %></li>
                                            <li class="list-group-item noPadding "><%= track.year %></li>
                                            <li class="list-group-item noPadding "><%= track.stars %></li>
                                        </ul>

                                        <% if (track.isInBlanket) { %>
                                            <% if (!track.isInILove) { %>
                                                <div clas="card-body">
                                                    <form action="/add-to-i-love" class="card-link" method="post">
                                                        <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                                        <button type="submit">to ILove</button>
                                                    </form>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <form action="/give-stars" class="card-link" method="post">                           <!-- TODO what if song is non in the db?? -->
                                                <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                                <input type="hidden" name="username" value="<%= pUser.username %>">
                                                <button type="submit">to Blanket</button>
                                            </form>
                                            <% if (!track.isInWishList) { %>
                                                <form action="/add-to-my-wish-list" class="card-link" method="post">
                                                    <input type="hidden" name="username" value="<%= pUser.username %>">
                                                    <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                                    <button type="submit">to Wish List</button>
                                                </form>
                                            <% } %>
                                        <% } %>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    <% } else {%>
                        <h1><%= user.firstName %>'s Blanket is empty</h1>
                    <% } %>
                </div>

                <script>
                    const ctx = document.getElementById('rose').getContext('2d');
                    ctx.canvas.width = 400;
                    ctx.canvas.height = 250;

                    const iLove = JSON.parse(`<%- JSON.stringify(iLove) %>`);
                    const genres = "<%= Object.keys(iLove) %>".split(',');

                    const values = genres.map(genre => {
                        return iLove[genre.replace(/&amp;/g, '&')].length;
                    });
                    const maxVal = Math.max.apply(null, values);

                    const data = {
                        labels: genres,
                        datasets: [{
                            data: values.map(value => (value / maxVal * 100).toFixed(0))
                        }]
                    };

                    //TODO write function for properly displaying this. onResize()
                    const options  = {
                        scale: {
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 100,
                                stepSize: 25
                            }
                        },
                        legend: {
                            display: false
                        },
                        responsive: false
                    }


                    const myRadarChart = new Chart(ctx, {
                        type: 'radar',
                        data: data,
                        options: options
                    });
                </script>
            </div>
        </div>
        </div>
    </body>
</html>