<%- include('../includes/header.ejs') %>
        <title><%- user.firstName %>'s ratings</title>
        <style>
            body {font-family: Arial;}

            /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }
        </style>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if (Object.keys(iLove).length > 0 ) { %>
            <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
            <div class="tab">
                <% var i = 0; Object.keys(iLove).forEach((genre) => { %>
                    <button onclick="openGenre(event, '<%= genre %>')" class="tablinks" id="<%= (genre == defaultGenre ? "defaultOpen" : "") %>"><%= genre %></button>
                <% }) %>
            </div>

            <% Object.keys(iLove).forEach(genre => { %>
                <div id="<%= genre %>" class="tabcontent">
                    <ol>
                        <div class="listWithHandle" class="list-group">
                            <% iLove[genre].forEach(track => { %>
                                <li>
                                    <div class="list-group-item">
                                        <table class="fa fa-arrow-up" aria-hidden="true">
                                                <tr>
                                                    <td><a class="songIDs" href="/creation?songID=<%= track.songID %>"><%= track.name %></a></td>
                                                    <td><%= track.artist %></td>
                                                    <td><%= track.album %></td>
                                                    <td><%= track.year %></td>
                                                    <td><%= track.genres %></td>
                                                    <td> Stars: <%= track.stars %></td>
                                                </tr>
                                        </table>
                                    </div>
                                </li>
                            <% }) %>
                        </div>
                    </ol>
                </div>
            <% }) %>

            <form action="" method="post">
                <input value="Save" type="button" onclick="submitForm()">
            </form>

            <script>
                function submitForm() {
                    const finalIDs  = {};
                    const tabs = document.getElementsByClassName('tabcontent');

                    Object.keys(tabs).forEach(num => {
                        const songIDs = [];
                        const rawSongIDs = tabs[num].getElementsByClassName('songIDs'); //TODO test
                        Object.keys(rawSongIDs).forEach(key => songIDs.push(rawSongIDs[key].href.split('=')[1]));
                        finalIDs[tabs[num].id] = songIDs;
                    })

                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", '/save-i-love', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({iLove: finalIDs}));

                    //TODO Work on cases "what if?"
                }
            </script>

            <script>
                const listsWithHandles = document.getElementsByClassName('listWithHandle');
                Object.keys(listsWithHandles).forEach(key => {
                    Sortable.create(listsWithHandles[key], {
                        handle: '.fa-arrow-up',
                        animation: 150
                    });
                })
            </script>
            <script>
                function openGenre(evt, genreName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    console.log(document.getElementById("Pop"));
                    document.getElementById(genreName).style.display = "block";
                    evt.currentTarget.className += " active";
                }
                document.getElementById("defaultOpen").click();
            </script>
        <% } else {  %>
            <h2>Nothing here for now! Go on to search and explore something or add your top picks from your <a href="/blanket">Blanket!</a></h2>
        <% } %>
    </div></div>
    </body>
</html>