<%- include('../includes/header.ejs') %>
    <title><%- user.firstName %>'s kindred spirits</title>
    </head>

    <body>
    <%- include('../includes/navigation.ejs') %>

    <h1><%- user.firstName %>'s kindred spirits</h1>
    <% if (kindredSpirits.length > 0) {%>
        <div class="row">
            <% let i = 1; kindredSpirits.forEach((ks) => { %>
                <div class="card mb-3 h-50 m-4 col-xs-4 col-12 text-center" style="max-width: 18rem;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="<%= ks.profilePictureURL %>" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= `${ks.firstName} ${ks.lastName}` %></h5>
                                <p class="card-text"><a href="/profile/<%= ks.username %>"><%= ks.username %></a>
                                <p class="card-text"><small class="text-muted"><%= ks.value.toFixed(3) %> %</small></p>

                                <% if (!ks.iFollow) { %>
                                    <form class="btn btn-primary" action="/follow/<%= ks.username %>" method="post">
                                        <input type="hidden" name="songID" value="<%= ks.username %>">     <!-- TODO Do not rely on hidden inputs-->
                                        <button type="submit">Follow</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else {%>
        <h2>Nothing here for now! People from <b>all over the world</b> will be appearing here as soon as you create and fill in your blanket, ILove and wish list. Go on to search and explore something or add something that you wanted to listen to a long time ago from your <a href="/wish-list">wish list!</a></h2>
    <% }%>
    </body>
</html>