<%- include('../includes/header.ejs') %>
    <title><%- user.firstName %>'s News</title>
    </head>

    <body>
    <%- include('../includes/navigation.ejs') %>

    <h1>Here's what people you follow did recently:</h1>
    <% if (n && Object.keys(n).length > 0) { %>  <!-- There is some content -->
        <% Object.keys(n).forEach(newsDay => {  %>    <!-- contains an array of objects for the news for that day -->
            <div class="day">
                <h2><%= newsDay %></h2>
                <% n[newsDay].forEach(news => { %>
                    <% if (news.code == 49) { %>
                        <table class="blanket-news">
                            <td>
                                <a href="/profile/<%= news.username %>">@<%= news.username %></a> added the song <a href="/creation?songID=<%= news.metadata.songID %>">"<%= news.metadata.name %>"</a> by <%= news.metadata.artist %> from the album "<%= news.metadata.album %>" (<%= news.metadata.year %>) to their Blanket with <%= news.stars %> stars.
                            </td>
                            <% if (!news.isInBlanket) { %>
                                <td>
                                    <form action="/give-stars" method="post">                           <!-- TODO what if song is non in the db?? -->
                                        <input type="hidden" name="songID" value="<%= news.metadata.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                        <button type="submit">to Blanket</button>
                                    </form>
                                </td>
                                <% if (!news.isInWishList) { %>
                                    <td>
                                        <form action="/add-to-my-wish-list" method="post">
                                            <input type="hidden" name="fromNews" value="true">
                                            <input type="hidden" name="songID" value="<%= news.metadata.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                            <button type="submit">to Wish List</button>
                                        </form>
                                    </td>
                                <% } %>
                            <% } %>
                        </table>
                    <% } else if (news.code == 56) { %>
                        <table class="ilove-news">
                            <td>
                                <a href="/profile/<%= news.username %>">@<%= news.username %></a> added the song <a href="/creation?songID=<%= news.metadata.songID %>">"<%= news.metadata.name %>"</a> by <%= news.metadata.artist %> from the album "<%= news.metadata.album %>" (<%= news.metadata.year %>) to their ratings.
                            </td>
                            <% if (!news.isInBlanket) { %>
                                <td>
                                    <form action="/give-stars" method="post">                           <!-- TODO what if song is non in the db?? -->
                                        <input type="hidden" name="songID" value="<%= news.metadata.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                        <button type="submit">to Blanket</button>
                                    </form>
                                </td>
                                <% if (!news.isInWishList) { %>
                                    <td>
                                        <form action="/add-to-my-wish-list" method="post">
                                            <input type="hidden" name="fromNews" value="true">
                                            <input type="hidden" name="songID" value="<%= news.metadata.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                            <button type="submit">to Wish List</button>
                                        </form>
                                    </td>
                                <% } %>
                            <% } %>
                        </table>
                    <% } %>
                <% }) %>
            </div>
       <% }) %>
    <% } else {%>
        <h2>Nothing here for now! Go on to search, start following someone or discover your <a href="/kindred-spirits">kindred spirits</a> from all over the world!</h2>
    <% } %>
    </body>
</html>