<%- include('../includes/header.ejs') %>
</head>


<body>

<%- include('../includes/navigation.ejs') %>

<h1>Welcome to Uttpic!</h1>
<img src="img/logo/favicon-96x96.png">
    <p>
        We try to achieve the goal of broadening the horizon of every human being
        <br> by giving the very precise represention of the most current preferences and trends
        in the infinite<br> world of Arts and Creation for free.<br><br>
        <strong>Utter picture. Broader mind.</strong>
    </p>


    <a href="/join">
        <button type = "button" name = "Join">Join</button>
    </a>

    <a href = "/login">
        <button type = "button">Login</button>
    </a>

<%- include('../includes/footer.ejs') %>