<%- include('../includes/header.ejs') %>
<link type = "text/css" rel = "stylesheet" href = "css/join.css">
</head>

<body>

<%- include('../includes/navigation.ejs') %>
    <p style="color: white">Proceed to login if you are a community member already.
        <a href = "/login">
            <button type = "button" >Login</button>
        </a>
    </p>

    <form action = "/join" method = "POST" id = "table">

        <div class = "row">
            <p>*username:</p>
            <p>
                <input type = "text" name = "username" required>
                <!--Insert JavaScript script to check the name in userdata database field of logins-->
            </p>
        </div>


        <div class = "row">
            <p>*First name:</p>
            <p>
                <input type = "text" name = "firstName" required maxlength = "20">
            </p>
            <!--Include a dictionary of names and funny combinations to show as placeholders. It'll make the dialog with user more open and kind-->
        </div>


        <div class = "row">
            <p>*Last name:</p>
            <p>
                <input type = "text" name = "lastName" required maxlength = "20">
            </p>
            <!--Include a dictionary of names and funny combinations to show as placeholders. It'll make the dialog with user more open and kind-->
        </div>


        <div class = "row">
            <p>*Date of birth:</p>
            <p>
                <input type = "date" name = "dob" required>
            </p>
            <!--write JavaScript script to check the date >= 1917 for example-->
        </div>


        <div class = "row">
            <p>*Sex:</p>
            <p>
                <select name = "sex" required>
                    <option value = "0" selected="selected">Choose...</option>
                    <!-- validate this zero -->
                    <option value = "male">Male</option>
                    <option value = "female">Female</option>
                </select>
            </p>
        </div>


        <div class = "row">
            <p>*Password:</p>
            <p>
                <input type = "password" name = "password" required>
                <!--Show password-->
            <p>
        </div>


        <div class = "row">
            <p>*Repeat password:</p>
            <p>
                <input type = "password" name = "repeatPassword" required>
                <!--Show password-->
                <!-- Jacascript function that does not allow passwords to be the same or a server sending back database. Server validation module in node,js course-->
            <p>
        </div>


        <div class = "row">
            <p>*E-mail:</p>
            <p>
                <input type = "email" name = "email" required >
            </p>
        </div>


        <div class = "row">
            <p>*Country:</p>
            <p>
                <select required name = "country">
                    <% for (country in list) {%>
                        <option  value ="<%- list[country] %>"><%- list[country] %></option>
                    <% } %>
                </select>
            </p>
        </div>


        <div class = "row">
            <p>*City:</p>
            <p>
                <input name = "city" required>
<!--                <select  name = "city" required>-->
<!--&lt;!&ndash;                    have the list of all cities and retrieve it from the GEOdb cities based on the chosen country -->
<!--                </select>-->
            </p>
        </div>

        <div class = "row">
            <p id = "submit">
                <input type = "submit" value = "Join">
            </p>
            <p></p>
        </div>
    </form>
    <%- include('../includes/footer.ejs') %>
    </body>
</html>
