<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149298626-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-149298626-1');
    </script>

    <title>Welcome to Uttpic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="apple-touch-icon" sizes="57x57" href="images/logo/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/logo/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/logo/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/logo/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/logo/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/logo/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/logo/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/logo/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/logo/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/logo/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/logo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/logo/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/logo/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/logo/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
		
        <div class="logo">
			
            <img src="images/uttpic-Logo-01.png" style="width:inherit; margin-top: -1px;
    margin-left: -1px;" alt="UP Utter Picture"/>
        </div>
        <div class="content">
			
            <div class="inner">
                <h1 aria-label="UP UTTPIC A social platform that puts the user first" style="font-size:1.8rem; font-weight: 600; color: #FFF;">A social network that puts the user first</h1>
                 <h2>disrupting the culture of entertainment content selection</h2>
            <!--    <p style="font-size:1.5rem; font-weight: 600; color: #fff; margin-top: -10px;">Explore your intellectual DNA and improve the world's</p> -->
				<img src="images/uttpic-slogo.png" style="width:250px;" alt="UTTPIC Social Platform"/>
               <p style="font-size:1.4rem; margin: 0;">BROADENING THE HORIZON OF EVERY HUMAN THROUGH DISCOVERY <br> OF THE INFINITE WORLD OF ARTS AND CREATION FOR FREE</p>
				<!--<strong style="font-size:1.2rem; color: #ed174d; margin-top:-25px;">Utter picture. Broader mind.</strong>-->
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#vision">Vision</a></li>
                <li><a href="#benefits">Benefits</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="/index">Prototype</a></li>
                <li><a href="#contact">Contact</a></li>
                <!--<li><a href="#elements">Elements</a></li>-->
            </ul>
        </nav>
		
		 <form method="post" action="/stay-tuned">
                <div class="fields">
                    <div class="field" style="width: 70%; margin: 0 auto; ">
                        <% if (successFlash.length > 0) { %>
                            Thank you for signing up!
                        <% } %>

                        <label for="email" style="font-size:.8rem; border-style: solid; border-color: #ffffff; border-top-width: 1px; max-width: 100%; padding-top: 10px; color: #ed174d;">
                            <strong style="color: #ed174d;">
                                <% if (failureFlash.length > 0) { %>
                                    <%= failureFlash[0].message  %>
                                <% } if (failureFlash.length <= 0 && successFlash.length <= 0) {%>
                                        Curious? Sign up for updates and developments!
                                <% } %>
                            </strong> </label>
                        <input type="email" name="subscribe-email" id="email" required placeholder="Enter your email address" />
						
                    <div style="padding-top: 20px;"><input type="submit" value="Subscribe" class="primary" /></div>
                    
                
					</div></div>
					</form>
		
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Vusion -->
        <article id="vision">
            <h2 class="major">Vision</h2>
            <span class="image main"><img src="images/vision.jpg" alt="We see the world as we are" /></span>
            <h3 class="" style="text-align:right; ">“The mind, that once pushed its boundaries, will never come into the former ones”.
                <br><br>A.   Einstein</h3>
    
<p>
                We are creating the interactive Uttpic platform, that will allow every user to instantly get fair and live ratings in all areas of arts and human creation, enjoy the masterpieces and not spend any time on a long search and consummation of the content that does not contribute to your development.<br><br>

                We want to change the lifestyle of every user regardless of sex, age, nationality, skin color or religion. We want to make the world kinder, wiser, more educated and honest.<br><br>

                We see the world as we are.<br><br>

                At least one user becomes more perfect - the whole world does too.
            </p>
        </article>
 
        <!-- Benefits -->
        <article id="benefits">
            <h2 class="major">Benefits</h2>
            <span class="image main"><img src="images/benefits.jpg" alt="" /></span>
            <p>
                <ul>
                    <li>Seamlessly keep your favorite people updated with your current preferences in arts, culture, and entertainment</li>
                    <li>Explore your friends' highest rated content</li>
                    <li>Find new kindred spirits in any part of the globe </li>
                    <li>Instantly Get millions of real, live, presently relevant, and
            customizable world ratings in all areas of human creativity to your taste!</li>
                    <li>Increase the number of genres and get experts’ opinion in each of them</li>
                    <li>Systematize artworks for later acquaintance</li>
                    <li>Build your personal ratings each change in which influences the world’s ratings</li>
                    <li>Get the playbill of events and premiers!</li>
                    <li>Discover your idols’ and friends’ ways of self-development</li>
                    <li>Raise the children on the best examples of world’s creativity</li>
                    <li>Travel with the best tourist routes and never miss sights truly worth a visit</li>
                </ul>
                And this is a non-exhaustive list of benefits you can get!<br>
                Improve your lifestyle every day!<br>
                Broaden your mind! Admire the masterpieces! In a word - see <span class="uttpic">utt</span>er
                <span class="uttpic">pic</span>ture of the world and change it with every action!
        </article>

        <!-- Team -->
        <article id="team">
            <h2 class="major">Team</h2>
            <span class="image main"><img src="images/qr-artem.png" alt="" /><br><img src="images/qr-alex.png" alt="" /><br><img src="images/qr-dima.png" alt="" /><br><img src="images/qr-artuoma.png" alt="" /></span>
            <p>Our core team consists of Alex Tkachuck, Artem Tkachuk, Dmitrii Slepov and Art Khomishen. Our combined skills and experience span many disciplines of skills, knowledge and business development. </p>
        </article>

        <!-- Contact -->
        <article id="contact">
            <h2 class="major">Contact</h2>

           <% if (contactError.length > 0) { %>
                <section>
                    <p><%= contactError %> <a href="javascript:window.location.reload(true)">Try again</a></p>
                    <hr />
                </section>
            <%} else if (contactSuccess.length > 0) { %>
                <section>
                    <p><%= contactSuccess %> <a href="javascript:window.location.reload(true)">Send more</a></p>
                    <hr />
                </section>
            <% } else { %>
                <form method="post" action="/contact">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Full Name</label>
                            <input type="text" name="name" required id="name" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" required name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message"  required  id="message" rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </form>
            <% } %>

            <ul class="icons">
                <li><a href="https://twitter.com/uttpic" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/utter-picture" class="icon brands fa-github" alt="Follow our development process on Github"><span class="label">GitHub</span></a></li>
            </ul>
        </article>

        <!-- Prototype -->
        <article id="prototype">
            <h2 class="major">Prototype</h2>

            <section>
                <h3>Early beta is under rapid development, stay tuned!</h3>
                <p>We are working diligently to bring our vision to reality. We will be making announcements once there is a beta trial released. We are excited to have you try our platform. Don't forget to sign up for updates on the homepage. Twitter: <a href="https://www.twitter.com/uttpic" target="_blank">@Uttpic</a>

					<br><br>See you soon!

				</p>
                <hr />
            </section>

        </article>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Uttpic. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

</div>

<!-- BG -->
<div class="blueprint"></div>
<div id="bg"></div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
