<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Log in to Uttpic</title>
      <link rel="stylesheet" href="css/login.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
      <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  </head>
  <body>

  <% if (message) {%>
      <div><%= message %></div>
  <% } %>

  <p>Proceed to join if you are not a community member yet.
      <a href = "/join">
          <button type = "button">Join</button>
      </a>
  </p>

  <form class="form-1" action="/login" method="post">
      <input class="field-1" type="text" name="username" placeholder="username">
      <input class="field-2" type="password" name="password" placeholder="Password">
      <p class="submit">
          <button class="button-sub" type="submit" name="submit"><i class="fas fa-arrow-right fa-2x"></i></button>
      </p>

  </form>

<!--      &lt;!&ndash; Insert these scripts at the bottom of the HTML, but before you use any Firebase services &ndash;&gt;-->

<!--      &lt;!&ndash; Firebase App (the core Firebase SDK) is always required and must be listed first &ndash;&gt;-->
<!--      <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>-->

<!--      &lt;!&ndash; If you enabled Analytics in your project, add the Firebase SDK for Analytics &ndash;&gt;-->
<!--      <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-analytics.js"></script>-->

<!--      &lt;!&ndash; Add Firebase products that you want to use &ndash;&gt;-->
<!--      <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>-->
<!--      <script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>-->

<!--      <script>-->
<!--        // TODO: Replace the following with your app's Firebase project configuration-->
<!--        var firebaseConfig = {-->
<!--          apiKey: "AIzaSyCRV8vmvWdQj7-K_8nBap-FKVUDoIYih9E",-->
<!--          authDomain: "uttpicwebsite.firebaseapp.com",-->
<!--          databaseURL: "https://uttpicwebsite.firebaseio.com",-->
<!--          projectId: "uttpicwebsite",-->
<!--          storageBucket: "uttpicwebsite.appspot.com",-->
<!--          messagingSenderId: "800465383709",-->
<!--          appId: "1:800465383709:web:55017b7f141a7e162131f4",-->
<!--          measurementId: "G-P35JDDZ6Q9"-->
<!--        };-->

<!--        // Initialize Firebase-->
<!--        firebase.initializeApp(firebaseConfig);-->
<!--        firebase.analytics();-->
<!--      </script>-->

<!--      &lt;!&ndash; The surrounding HTML is left untouched by FirebaseUI.-->
<!--         Your app may use that space for branding, controls and other customizations.&ndash;&gt;-->

<!--      <div id="firebaseui-auth-container"></div>-->
<!--      <div id="loader">Loading...</div>-->

<!--      <script>-->
<!--          var ui = new firebaseui.auth.AuthUI(firebase.auth());-->

<!--          var uiConfig = {-->
<!--            callbacks: {-->
<!--              signInSuccessWithAuthResult: function(authResult, redirectUrl) {-->
<!--                // User successfully signed in.-->
<!--                // Return type determines whether we continue the redirect automatically-->
<!--                // or whether we leave that to developer to handle.-->
<!--                return true;-->
<!--              },-->
<!--              uiShown: function() {-->
<!--                // The widget is rendered.-->
<!--                // Hide the loader.-->
<!--                document.getElementById('loader').style.display = 'none';-->
<!--              }-->
<!--            },-->
<!--            // Will use popup for IDP Providers sign-in flow instead of the default, redirect.-->
<!--            signInFlow: 'popup',-->
<!--            signInSuccessUrl: '/myprofile',-->
<!--            signInOptions: [-->
<!--              // Leave the lines as is for the providers you want to offer your users.-->

<!--              firebase.auth.EmailAuthProvider.PROVIDER_ID,-->

<!--            ],-->
<!--            // // Terms of service url.-->
<!--            // tosUrl: '<your-tos-url>',-->
<!--            // // Privacy policy url.-->
<!--            // privacyPolicyUrl: '<your-privacy-policy-url>'-->
<!--          };-->

<!--          ui.start('#firebaseui-auth-container', uiConfig);-->
<!--        </script>-->
  </body>
</html>
