<%- include('../includes/header.ejs') %>

</head>

<body>
<%- include('../includes/navigation.ejs') %>

<p>The page you were trying to find does not exist RIGHT NOW. <br>The website is being <b>actively</b> developed though, so stay in touch! <br>Please try another page for now! <br>Thank you and sorry about this! </p>

<%- include('../includes/footer.ejs') %>