<%- include('../includes/header.ejs') %>

</head>

<body>
<%- include('../includes/navigation.ejs') %>

<p>Either your query string was empty, or we were not able to find anything! Excuse us if it is our fault! You can try again by typing something in the search bar above!</p>

<%- include('../includes/footer.ejs') %>