<%- include('../includes/header.ejs') %>
        <title>Search results</title>
        <style>
            body {
                font-family: Arial;
            }

            /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }
        </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

        <h1>Results for "<%= query %>"</h1>

        <div class="tab">
            <button onclick="openTab(event, 'Songs')" class="tablinks" id="<%= (u && u == "true" ? "" : "defaultOpen") %>">Songs</button>
            <button onclick="openTab(event, 'Users')" class="tablinks" id="<%= (u && u == "true" ? "defaultOpen" : "") %>">Users</button>
        </div>


        <div id="Songs" class="tabcontent">
            <div class="row row-cols-1 row-cols-md-4">
                <% iTunesResults.forEach(track => { %>
                    <div class="card m-4 text-center" style="max-width: 18rem;">
                        <img src="<%= track.coverUri %>" class="card-img-top" alt="Album cover">
                        <div class="card-body">
                            <h5 class="card-title"><td><a href="/creation?songID=<%= track.songID %>"><%= track.name %></a></td></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">by <%= track.artist %></li>
                            <li class="list-group-item"><%= track.album %></li>
                            <li class="list-group-item"><%= track.genres %></li>
                            <li class="list-group-item"><%= track.year %></li>
                        </ul>
                        <% if (!track.isInBlanket) { %>
                            <div class="card-body">
                                <form action="/give-stars" class="card-link" method="post">                           <!-- TODO what if song is non in the db?? -->
                                    <input type="hidden" name="query" value="<%= query %>">
                                    <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                    <button type="submit">to Blanket</button>
                                </form>
                                <% if (!track.isInWishList) { %>
                                        <form action="/add-to-my-wish-list" class="card-link" method="post">
                                            <input type="hidden" name="query" value="<%= query %>">
                                            <input type="hidden" name="fromSearch" value="true">
                                            <input type="hidden" name="songID" value="<%= track.songID %>">     <!-- TODO Do not rely on hidden inputs-->
                                            <button type="submit">to Wish List</button>
                                        </form>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>

        <div id="Users" class="tabcontent">
            <table>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Percentage</th>
                </tr>
                <% mongoUsers.forEach((mu) => { %>
                    <tr>
                        <td><a href="/profile/<%= mu.username %>"><%= mu.username %></a></td>
                        <td><%= `${mu.firstName} ${mu.lastName}` %></td>
                         <td><%= mu.value.toFixed(3) %> %</td>
                        <% if (!mu.iFollow) { %>
                            <td>
                                <form action="/follow/<%= mu.username %>?where=fromSearch" method="post">
                                    <input type="hidden" name="query" value="<%= query %>">
                                    <button type="submit">Follow</button>
                                </form>
                            </td>
                        <% } %>
                    </tr>
                <% }) %>
            </table>
        </div>

        <script>
            function openTab(evt, tabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();
        </script>
        </div>
        </div>
        </div>
    </body>
</html>